<div #chatArea id="chat-area"></div>
<div id="chat-input">
  <input
    #chatInput
    [attr.disabled]="isGuessCorrect ? '' : null"
    [(ngModel)]="newMessage"
    (ngModelChange)="onInputChange($event)"
    name="chatInput"
    placeholder="Type your answer here..."
  />
  <span #counter class="counter hidden"></span>
  <button
    class="btn btn--icon-only btn--no-border"
    id="chat-btn-send"
    (click)="onSend()"
    [attr.disabled]="isGuessCorrect ? '' : null"
  >
    <svg-icon class="btn__icon" src="assets/icons/send.svg" />
  </button>
</div>
