<!-- <input type="text" [(ngModel)]="userName" />
<app-button (click)="onJoinRoom()">Play</app-button> -->
<div #canvasContainer id="canvas-container">
  <div class="canvas-layer">
    <canvas
      #canvasBase
      class="canvas-base"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      (mouseenter)="onMouseEnter($event)"
      (mouseleave)="onMouseLeave($event)"
    >
    </canvas>
    <canvas #canvasPreview class="canvas-preview"></canvas>
  </div>
</div>
<app-whiteboard-overlay />
