<!-- <input type="text" [(ngModel)]="userName" />
<app-button (click)="onJoinRoom()">Play</app-button> -->
<div #canvasContainer id="canvas-container">
  <div class="canvas-layer">
    <canvas
      #canvasBase
      class="canvas-base"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp($event)"
      (mouseenter)="onMouseEnter($event)"
      (mouseleave)="onMouseLeave($event)"
    >
    </canvas>
    <canvas #canvasPreview class="canvas-preview"></canvas>
  </div>
</div>
<div class="toolbar">
  <div id="shape-options" class="radio-contaner">
    <app-radio-group
      color="secondary"
      name="shapes"
      [options]="[
          {
            label: 'draw path',
            value: 'path',
            iconSrc: 'assets/icons/path.svg',
          },
          {
            label: 'draw line',
            value: 'line',
            iconSrc: 'assets/icons/line.svg',
          },
          {
            label: 'draw rect',
            value: 'rect',
            iconSrc: 'assets/icons/rect.svg'
          },
          {
            label: 'draw triangle',
            value: 'triangle',
            iconSrc: 'assets/icons/triangle.svg'
          },
          {
            label: 'draw ellipse',
            value: 'ellipse',
            iconSrc: 'assets/icons/ellipse.svg'
          }
        ]"
      [defaultValue]="mode"
      (selectionChange)="onModeChange($event)"
    />
  </div>
  <div id="stroke-options">
    <input
      type="color"
      class="btn"
      [(ngModel)]="contextBaseColor"
      (change)="onStrokeColorChange($event)"
    />
    <app-radio-group
      name="strokeWidth"
      [options]="[
        {
          label: 'tiny',
          value: 'tiny',
          iconSrc: 'assets/icons/dot.svg',
          iconSize: 'tiny'
        },
        {
          label: 'small',
          value: 'small',
          iconSrc: 'assets/icons/dot.svg',
          iconSize: 'small'
        },
        {
          label: 'medium',
          value: 'medium',
          iconSrc: 'assets/icons/dot.svg',
          iconSize: 'medium'
        },
        {
          label: 'big',
          value: 'big',
          iconSrc: 'assets/icons/dot.svg',
          iconSize: 'big'
        }
      ]"
      [defaultValue]="strokeWidthName"
      (selectionChange)="onStrokeWidthChange($event)"
    />
  </div>
  <app-button
    (click)="onClear()"
    iconSrc="assets/icons/trash.svg"
    [isIconOnly]="true"
  />
</div>
