@import "../../../assets/styles/mixins.scss";

app-whiteboard {
  position: relative;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  overflow: hidden;
}

.toolbar {
  margin: 2rem 0;
}

#canvas-container {
  position: relative;
}

.canvas-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &:first-child {
    position: relative;
  }
}

canvas {
  width: 100%;
  background-color: #fffbef;
}

.canvas-preview {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
