:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 1;
}

.whiteboard-overlay {
  background-color: sandybrown;
  transition: transform 0.5s ease-in-out;

  &--hidden {
    transform: translateY(-100%);
  }
}

.whiteboard-overlay,
.whiteboard-overlay > * {
  height: 100%;
}

.prepare-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-pick {
  display: flex;
  align-items: center;
  justify-content: center;

  &__prompt {
    text-align: center;
  }

  &__choices {
    display: flex;
    column-gap: 2rem;
  }
}
