ul {
  list-style: none;
  padding: 0;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  overflow: hidden;

  li {
    position: relative;
    min-height: 2rem;
    padding: 0.75rem 2rem;
    font-size: 1.125rem;
    background-color: white;

    &:nth-child(even) {
      background-color: rgb(224, 224, 224);
    }
  }
}
